absl-py==2.1.0
aiohttp==3.9.3
aiosignal==1.3.1
antlr4-python3-runtime==4.8
async-timeout==4.0.3
attrs==23.2.0
audioread==3.0.1
av==11.0.0
bitarray==2.9.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
Cython==3.0.9
decorator==4.4.2
einops~=0.4
-e ./src/fairseq
ffmpeg-python>=0.2.0
filelock==3.13.1
fonttools==4.48.1
frozenlist==1.4.1
fsspec==2024.2.0
future==0.18.3
grpcio==1.60.1
h5py==3.10.0
huggingface-hub==0.22.1
hydra-core==1.0.7
idna==3.6
imageio==2.34.0
imageio-ffmpeg==0.4.9
importlib-metadata==7.0.1
importlib-resources==6.1.1
Jinja2==3.1.3
joblib==1.3.2
kiwisolver==1.4.5
lazy_loader==0.3
librosa==0.10.1
llvmlite==0.42.0
lxml==5.1.0
Markdown==3.5.2
MarkupSafe==2.1.5
marlin_pytorch==0.3.4
matplotlib>=3.5.2
pytorch_lightning==1.7.*
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
networkx==3.2.1
numba==0.59.0
numpy>=1.23
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu12==12.1.105
omegaconf==2.0.6
opencv-python>=4.6
packaging==23.2
pandas~=1.4.3
pillow>=9.2.0
platformdirs==4.2.0
pooch==1.8.1
portalocker==2.8.2
proglog==0.1.10
protobuf==4.25.2
psutil==5.9.8
pyarrow==15.0.0
pycparser==2.21
pyDeprecate==0.3.2
pydub==0.25.1
pyparsing==3.1.1
python-dateutil==2.8.2
pytorch-lightning==1.7.7
pytz==2024.1
pyyaml>=6.0
regex==2023.12.25
requests==2.31.0
sacrebleu==2.4.1
safetensors==0.4.2
scikit-image>=0.19.3
scikit-learn==1.3.2
scipy==1.12.0
six==1.16.0
soundfile==0.12.1
soxr==0.3.7
sympy==1.12
tabulate==0.9.0
tensorboard==2.16.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tf_keras-nightly==2.16.0.dev2024021310
threadpoolctl==3.3.0
tifffile==2024.2.12
timm==0.9.12
torch
torchaudio==2.1.2
torchmetrics==0.11.*
torchsummary==1.5.1
torchvision>=0.12.0
tqdm>=4.64.0
triton==2.1.0
typing_extensions==4.9.0
urllib3==2.2.0
Werkzeug==3.0.1
yarl==1.9.4
zipp==3.17.0
speechbrain
