[submodule "fairseq/model_parallel/megatron"]
    path = fairseq/model_parallel/megatron
    url = https://github.com/ngoyal2707/Megatron-LM
    branch = fairseq
[submodule "EAT"]
	path = EAT
	url = https://github.com/cwx-worst-one/EAT
